@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.TaskItems{
  padding: 20px 20px;
  width: 800px;
  height: 100%;
  border-radius: 10px;
  list-style-type: none;
  font-size: 20px;
  box-shadow: 1px 1px 10px  2px rgba(156, 156, 156, 0.267);
  margin-top: 50px;
  border: 1px dashed rgba(0, 0, 0, 0.132);
}


  
.TaskItems li{
  margin: 20px auto;
  padding:8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.211);
}
.Deletebtn{
  background-color: rgba(216, 2, 2, 0.736);
  border: none;
  padding: 8px 10px;
  color: white;
  font-size: 17px;
  border-radius: 10px;

}
.completed{
  background-color: rgba(0, 255, 8, 0.219);
}
.notcompleted{
  background-color: rgba(255, 0, 0, 0.227);
}
nav{
  display: flex;
  padding:20px 90px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.imglogo{
  height: 50px;
}
.content{
  width: 60%;
  margin: 0px auto;
}

.disnone{
  display: none;
}
.Heading{
  font-size:23px;
  font-weight:600;
}
.Footer{
  position: absolute;
  bottom: 10px;
  left: 43%;
  text-align: center;
  width: fit-content;

}
.navSec1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.home {
  font-size: 18px;
  font-weight: 590;
}
button {
  cursor: pointer;
}
#taskName{
  width:435px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}
#taskName::placeholder{
  font-size: 17px;
}
#addTaskLabel{
  font-size: 18px;
}
.AddTaskform{
  width: 793px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px;
  border: 1px dashed #8a888836;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.203);
  border-radius: 10px;
}
#AddTaskbtn{
  background-color: blueviolet;
  color: white;
  padding:  8px 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
.taskValue{
  text-align: center;
}
#Resetbtn{
  background-color: rgb(217, 145, 0);
  color: white;
  padding:  8px 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
#state{
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}
